#total{
    text-align: center;
    font-weight: bold;
    color: #42C8F0;
    font-size: x-large;
}

#nombre{
   font-weight: bold;
   color: black;
}

#cant{
    font-weight: bold;
}

.title{
    text-align: center;
    font-weight: bold;
}

ion-toolbar{
    background-color: var(--ion-color-mycolor);
}