#title{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
}

#btn{
    border-radius: 80px;
}

#registro{
    text-align: center;
    color: #272FD9;
    text-decoration-line: underline;
}

#registro:hover{
    color: #2DDD25;
}