ion-toolbar{
    background-color: var(--ion-color-mycolor);
}

.img{
    width: 100px;
    float: left;
    
}
.conteiner{
    display: inline-block;
    vertical-align: top;
}

.title{
text-align: center;
}

